body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 160px;
  padding: 20px;
  gap: 25px;
}
.btn.btn-primary {
  background-color: #ffffff;
  border-color: black;
  color: black;
  border-width: 2px;
  border-radius: 0;
}
form {
  border-style: outset;
  text-align-last: center;
  width: 400px;
}
/* Style the carousel images */
.carousel img {
  width: 395px !important;
  object-fit: cover;
  margin: 0;
  float: left;
}

.div-carousel {
  min-height: calc(100vh - 70px);
}
.bg-body-tertiary.navbar {
  background-color: #dbc8c8 !important;
}

.carousel {
  left: 150px;
  position: relative;
}

/*this is the footer's css*/
.bg-dark.py-3 {
  background-color: #dbc8c8 !important;
  color: black !important;
  height: 50px;
}

.search {
  text-align: center;
}
.input-search {
  height: 40px;
  border-radius: 30px;
  width: 330px;
  box-shadow: 15px 6px 9px 0px grey;
}
.search-btn {
  border-radius: 17px;
  background-color: ghostwhite;
  margin: -36px;
  height: 38px;
  width: 35px;
}

.photo-product {
  width: 360px !important;
}
.container-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.add-btn {
  border-radius: 8px;
  width: 56px;
  height: 41px;
  background-color: ghostwhite;
}

.product-cards {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  padding: 24px;
  min-height: calc(100vh - 70px);
}

.bag-cards {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  padding: 24px;
  min-height: calc(100vh - 70px);
}

.fav-cards {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  padding: 24px;
  min-height: calc(100vh - 70px);
}

.user-image {
  width: 300px;
  border-radius: 177px;
  align-self: center;
}

.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 70px);
}

.user-info {
  width: 300px;
  align-self: center;
  text-align: center;
}

.img-file {
  align-self: center;
}

button {
  background-color: white;
  border-radius: 11px;
  font-size: 21px;
  color: black;
}

.slider {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: slide 10s infinite;
}
.slide {
  position: absolute;
  z-index: -1;
}

/*@keyframes slide {
  0%,
  15%,
  100% {
    transform: translateX(0);
    animation-timing-function: ease;
  }
  20% {
    transform: translateX(-100%);
    animation-timing-function: step-end;
  }
  95% {
    transform: translateX(100%);
    animation-timing-function: ease;
  }
}*/

.inactive {
  display: none;
}
