body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*styling of the auth page(log-in form etc)*/
.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 160px;
  padding: 20px;
  gap: 25px;
  font-family: papyrus;
}

.btn.btn-primary {
  background-color: #dbc8c8;
  color: black;
  border-width: 2px;
  border-radius: 13px;
  margin: 5px;
  border: none;
}
form {
  margin: -3px;
  border-style: solid;
  border-color: white;
  text-align-last: center;
  width: 349px;
  background-color: white;
  font-family: papyrus;
  border-radius: 20px;
}

.google-btn {
  background-color: #dbc8c8;
  color: black;
  border-width: 2px;
  border-radius: 13px;
  margin: 5px;
  border: none;
}
/* Style the carousel */
.page-container {
  font-family: papyrus;
}
.carousel img {
  max-width: 100%; /* Ensures images don't exceed the container's width */
  width: 600px !important; /* Set your desired image width */
  height: auto;
  object-fit: cover;
  margin: 0;
  float: left;
}
.div-carousel {
  min-height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-body-tertiary.navbar {
  background-color: #dbc8c8 !important;
  font-family: papyrus;
}

.carousel {
}

/*this is the footer's css*/
.bg-dark.py-3 {
  background-color: #dbc8c8 !important;
  color: black !important;
  height: 100px;
  font-family: papyrus;
}

/*styling of the search-bar*/
.container-home {
  font-family: papyrus;
}
.search {
  text-align: center;
}
.input-search {
  height: 40px;
  border-radius: 30px;
  width: 330px;
  box-shadow: 15px 6px 9px 0px grey;
}
.search-btn {
  border-radius: 17px;
  background-color: ghostwhite;
  margin: -36px;
  height: 38px;
  width: 35px;
}

.add-btn {
  border-radius: 8px;
  width: 56px;
  height: 41px;
  background-color: ghostwhite;
}

/*styling of the whole card (in homepage/fav/bag)*/
.photo-product {
  width: 360px !important;
}
.container-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  font-family: papyrus;
}
.card-body {
  font-family: papyrus;
}

.confirmation {
  font-family: papyrus;
}
.product-cards {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  padding: 24px;
  min-height: calc(100vh - 70px);
  box-shadow: 5px 5px 10px #ccc;
  justify-content: center;
}
.bag-cards {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  padding: 24px;
  min-height: calc(100vh - 70px);
  padding: 60px;
}

.fav-cards {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px;
  min-height: calc(100vh - 70px);
}
.card:hover {
  transform: scale(1.2);
}
.card {
  box-shadow: 5px 7px 6px -5px;
}

.btn.btn-danger {
  color: black;
  border-width: 2px;
  border-radius: 13px;
  margin: 5px;
  border: none;
  background-color: #f34747;
}

.btn.btn-secondary {
  border-radius: 0;
  margin: 5px;
  border-radius: 13px;
}

/*style of the react icons (heart,bag)*/
svg:hover {
  cursor: pointer;
}

/*styling of the user's account*/
.user-image {
  width: 300px;
  border-radius: 177px;
  align-self: center;
}

.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 70px);
  font-family: papyrus;
}

.user-info {
  width: 300px;
  align-self: center;
  text-align: center;
}

.img-file {
  align-self: center;
}

button {
  background-color: white;
  border-radius: 11px;
  font-size: 21px;
  color: black;
}

/*style of the background images in the auth page*/
.slider {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: slide infinite;
  transition-delay: 1s;
}
.slide {
  position: absolute;
  z-index: -1;
}

@keyframes slide {
  20% {
    transform: translateX(0);
    animation-timing-function: ease;
  }
  40% {
    transform: translateX(-100%);
    animation-timing-function: step-end;
  }
  100% {
    transform: translateX(100%);
    animation-timing-function: ease;
  }
}

.inactive {
  display: none;
}
